<h1>About Us</h1>
<p>
  DnD Site is the creation of Ryan Stewart and Michelle Houle. They are students at Northeastern University, and have been looking for a better way to set up and play D&D campaigns. After much bitching and hoping for a better method to appear, they decided to make one of their own.
</p>
